/* =========================
GLOBAL
========================= */

body {

    font-family: "Inter",
                 -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Roboto,
                 Arial,
                 sans-serif;

    font-size: 18px;
    line-height: 1.7;

    color: #111;
    background: #fff;

    margin: 0;

}



/* =========================
LAYOUT
========================= */

.container {

    max-width: 720px;

    margin: 60px auto;

    padding-left: 20px;
    padding-right: 20px;

}



/* =========================
SITE TITLE
========================= */

.site-title {

    font-size: 28px;
    font-weight: 600;

    margin-bottom: 40px;

}

.site-title a {

    text-decoration: none;
    color: inherit;

}



/* =========================
ARTICLE
========================= */

.article-meta {

    font-size: 14px;
    color: #666;

    margin-bottom: 10px;

}

.article-title {

    font-size: 32px;
    font-weight: 600;

    margin-bottom: 30px;

}

.article-content p {

    margin-bottom: 22px;

}



/* =========================
RELATED POSTS
========================= */

.related-section {

    margin-top: 60px;

}

.related-title {

    font-size: 18px;
    font-weight: 600;

    margin-bottom: 15px;

}

.related-posts a {

    display: block;

    margin-bottom: 10px;

    text-decoration: none;
    color: #111;

}

.related-posts a:hover {

    text-decoration: underline;

}



/* =========================
BACK
========================= */

.back {

    margin-top: 40px;

}

.back a {

    text-decoration: none;

}



/* =========================
CATEGORY LIST
========================= */

.posts {

    margin-top: 30px;

}

.post-item {

    margin-bottom: 10px;

}

.post-item a {

    font-size: 20px;
    text-decoration: none;
    color: #111;

}

.post-year {

    font-size: 14px;
    color: #666;

    margin-bottom: 25px;

}
