/* =========================
   GLOBAL
========================= */

body {

    font-family: "Inter",
                 -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Roboto,
                 Arial,
                 sans-serif;

    font-size: 18px;
    line-height: 1.7;

    color: #111;
    background: #ffffff;

    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


/* =========================
   LAYOUT CONTAINER
========================= */

.container {

    max-width: 720px;

    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;

}


/* =========================
   SITE TITLE
========================= */

.site-title {

    font-size: 32px;
    font-weight: 600;

    margin-bottom: 30px;

}

.site-title a {

    text-decoration: none;
    color: inherit;

}

.site-title a:hover {

    text-decoration: underline;

}


/* =========================
   SUBTITLE (category pages)
========================= */

.subtitle {

    font-size: 18px;
    color: #444;

    margin-bottom: 40px;

}


/* =========================
   POSTS LIST (category)
========================= */

.posts {

    margin-bottom: 40px;

}

.post-item {

    margin-bottom: 8px;

}

.post-item a {

    font-size: 20px;

    text-decoration: none;
    color: #111;

}

.post-item a:hover {

    text-decoration: underline;

}

.post-year {

    font-size: 15px;
    color: #666;

    margin-bottom: 28px;

}


/* =========================
   ARTICLE PAGE
========================= */

.article-title {

    font-size: 32px;
    font-weight: 600;

    margin-top: 20px;
    margin-bottom: 10px;

}

.article-meta {

    font-size: 15px;
    color: #666;

    margin-bottom: 40px;

}

.article-content {

    margin-bottom: 40px;

}


/* =========================
   PARAGRAPH
========================= */

.article-content p {

    margin-bottom: 22px;

}


/* =========================
   HEADINGS INSIDE ARTICLE
========================= */

.article-content h2 {

    font-size: 24px;

    margin-top: 40px;
    margin-bottom: 15px;

}

.article-content h3 {

    font-size: 20px;

    margin-top: 30px;
    margin-bottom: 10px;

}


/* =========================
   LINKS
========================= */

a {

    color: inherit;

}


/* =========================
   BACK LINK
========================= */

.back {

    margin-top: 40px;

}

.back a {

    font-size: 16px;
    text-decoration: none;

}

.back a:hover {

    text-decoration: underline;

}


/* =========================
   HOME LINK
========================= */

.home-link-main {

    text-decoration: none;
    color: inherit;

}

.home-link-main:hover {

    text-decoration: underline;

}


/* =========================
   IMAGES
========================= */

.article-content img {

    max-width: 100%;

    margin-top: 30px;
    margin-bottom: 30px;

}


/* =========================
   HR (separator)
========================= */

.article-content hr {

    border: none;

    border-top: 1px solid #ddd;

    margin-top: 40px;
    margin-bottom: 40px;

}


/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

    .container {

        margin-top: 30px;
        margin-bottom: 30px;

    }

    .site-title {

        font-size: 26px;

    }

    .article-title {

        font-size: 26px;

    }

}
